.MuiCard-root {
    min-width: 199px;
    min-height: 20px;
    margin: 5px 5px;
    border-radius: 0;
}
.MuiCardContent-root {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    justify-content: space-between;
}
.MuiTypography-gutterBottom {
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 5px 15px;
}
