.MuiCard-root{
    min-width: 200px;
    min-height: 40px;
    margin: 5px 5px;
    border-radius: 0;
    /*cursor: grab;*/
}
.MuiCardContent-root{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    justify-content: space-between;
    background-color: #1976D2;
}
.MuiTypography-gutterBottom{
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 5px 15px;
}